.gender {
    text-align: center;
}

.gender--select {
   margin-top: 40px; 
}

.radio--hide{
  display: none;
}

.male img{
  margin-right: 8rem;
  cursor: pointer;
  border: 5px ridge rgb(163, 163, 38);
  transition: 0.5s;
}

.male img:hover{
  background-color:rgb(53, 21, 194);
  transition: all 0.5s;
}

.female img{
  cursor: pointer;
  border: 5px ridge rgb(163, 163, 38) ;
  transition: 0.5s;
}

.female img:hover{
  background-color:rgb(219, 150, 162);
  transition: all 0.5s;
}

.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 35px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover{
  background: blue;
}

.title{
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
}

.title:where(:hover, :focus-visible){
  background-size: 100% var(--bg-h);
  background-position-x: left;
  padding-bottom: 2px;
  --bg-h: 2px;
}

.p--text{
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
}
.p--text:where(:hover, :focus-visible){
  background-size: 100% var(--bg-h);
  background-position-x: left;
  padding-bottom: 2px;
  --bg-h: 2px;
}

@media screen and (min-width:1px) {
    .female img{
      width:  75px;
      height: 75px;
    
    } 

    .male img{
      width:  75px;
      height: 75px;
      margin-right: 4rem;
    }

    .gender--text{
      font-size:20px ;
    }
    
    .progressbar{
      width: 80%;
    }

    .button{
      width: 100px;
    }

}

@media screen and (min-width:600px) {
  .female img{
    width:  150px;        
    height: 160px;
}

.male img{
  width:  150px;        
  height: 160px;
  margin-right: 8rem;
}

.gender--text{
   font-size: 35px; 
}

.progressbar{
  width: 104%;  
}

.button{
  width: 170px;
}
}















