.place{
    text-align: center;
}

.text--place{
    margin-top: 130px;
}

.t--place{
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
}

.t--place:where(:hover, :focus-visible){
  background-size: 100% var(--bg-h);
  background-position-x: left;
  padding-bottom: 2px;
  --bg-h: 2px;
}

@media screen and (min-width:1px) {
   
    .t--place{
      font-size: 20px;
    }
    
    .progressbar{
      width: 80%;
    }
  }
  
  @media screen and (min-width:600px) {
    .t--place{
      font-size: 35px;
    }
  
    .progressbar{
      width: 104%;  
    }
  }
  
  